//  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (max-width:576px) {}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:576px) {}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:768px) {}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:992px) {
    #box {
        width: 95%;
        height: 95%;

        >figure {
            width: 50%;
            height: 100%;
            position: absolute;
            right: 0;
            display: flex;
            justify-content: start;
            align-items: center;
            z-index: 2;
            transition: .6s ease-in-out;

            // display: none;

            >img {
                width: 97%;
                height: 96%;

            }
        }

        >section {
            &:nth-of-type(2) {
                transform: scale(.95);
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1200px) {
    #box {
        width: 90%;
        height: 95%;

        >section {
            &:nth-of-type(2) {
                transform: scale(.95);
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1400px) {
    #box {
        width: 85%;
        height: 95%;

        >section {
            &:nth-of-type(2) {
                transform: scale(.95);
            }
        }
    }

    #sign-form {
        margin-top: 20px;
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1600px) {
    #box {
        width: 70%;
        height: 90%;

        >section {
            &:nth-of-type(2) {
                transform: scale(1);
            }
        }
    }

    #sign-form {
        margin-top: 40px;
    }
}